.mr_5 {
    margin-right: 5px;
}
.mr_6 {
    margin-right: 6px;
}

.mr_8 {
    margin-right: 8px;
}
    .mr_10 {
        margin-right: 10px;
    }

.mr_30 {
    margin-right: 30px;
}

.mt_0
{
    margin-top: 0;
}


.mt_27 {
    margin-top: 27px;
}

.mt_40 {
    margin-top: 40px;
}

.mt_63 {
    margin-top: 63px;
}
.mb_8 {
    margin-bottom: 8px;
}
.mb_9 {
    margin-bottom: 9px;
}

.mb_10 {
    margin-bottom: 10px;
}




.mb_27 {
    margin-bottom: 27px;
}


.mb_50 {
    margin-bottom: 50px;
}

.mb_54 {
    margin-bottom: 54px;
}

.mb_60 {
    margin-bottom: 60px;
}

.mb_63 {
    margin-bottom: 63px;
}

.mb_69 {
    margin-bottom: 69px;
}

.ml_24 {
    margin-left: 24px;
}

.mb_118 {
    margin-bottom: 118px;
}